Source: com.github.juarezfranco.tarefas-desktop
Section: x11
Priority: extra
Maintainer: Juarez Franco <juarezfrancojr@gmail.com>
Build-Depends: appstream
               debhelper (>= 10.5.1),
               gettext,
               desktop-file-utils,
               libgee-0.8-dev,
               libgtk-3-dev (>= 3.10),
               libsqlite3-dev,
               libgranite-dev (>=0.5),
               meson,
               valac (>= 0.28.0)
Standards-Version: 4.1.1

Package: com.github.juarezfranco.tarefas-desktop
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tasks
 Ideal for managing daily tasks.
